.Header{
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr max-content max-content;
    grid-template-areas: 
    'Logo Menus Langs SignIn'
    ;
    min-height: 40px;
    gap: 2rem;
    position: relative;
    top: 0px;
    background-color: rgb(var(--basecolor));
    justify-items:right;
}
.HeaderLogo{
    position: relative;
    width: 140px;
    height: 140px;
    border-radius: 14px;
    margin: 2px;
    overflow: hidden;
    grid-area: Logo;
}
.MenusContainer{
    grid-area: Menus;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    z-index: 3;
}
.MenuButton{
    align-self: center;
    color: rgb(var(--fontcolor));
    border-radius: 14px;
    padding: 2px 5px;
    text-align: center;
    transition: var(--fastrans);
	text-shadow: 2px 2px 8px #fffffff5;
    border: 1px solid transparent;
    margin: 0 0.3rem;
}
.MenuButton:hover{
    border: 1px solid rgba(var(--basecolor), 0.3);
    color: rgb(var(--basecolor));
    background-color: rgb(var(--fontcolor));
}
.MenuButton:last-of-type,
.SignInButton{
    width: max-content;
    align-self: center;
    border: 1px solid rgb(var(--basecolor));
    color: rgb(var(--basecolor));
    background-color: rgb(var(--fontcolor));
    padding: 7px;
    margin: 7px;
    border-radius: 35px;
    font-weight: 700;
    transition: var(--fastrans);
}
.MenuButton:last-of-type:hover,
.SignInButton:hover{
    border: 1px solid rgb(var(--fontcolor));
    color: rgb(var(--fontcolor));
    background-color: rgb(var(--basecolor));
}
.SignInButton:active{
    border: 1px solid rgb(var(--basecolor));
    color: rgb(var(--basecolor));
    background-color: rgb(var(--fontcolor));
}
.HidenMenus{
    display: none;
}
.Name{
    display: none;
}
@media screen and (max-width: 490px) and (orientation: portrait) {
    .Header{
        width: 100%;
        justify-items:space-between;
        grid-template-columns: 35px 1fr 35px;
        grid-template-rows: 40px;
        grid-template-areas:
        'Logo Name IconMenu'
        ;
        padding: 7px;
    }
    .Name{
        display: block;
        grid-area: Name;
        text-align: center;
        width: 100%;
    }
    .HidenMenus{
        display: block;
        grid-area: IconMenu;
        width: 35px;
        height: 35px;
        border-radius: 7px;
    }
    .HeaderLogo{
        width: 35px;
        height: 35px;
        margin: 2px;
        overflow: hidden;
        border-radius: 7px;
        grid-area: Logo;
    }
    .MenusContainer{
        display: flex;
        flex-flow: column nowrap;
        position: absolute;
        right: 0px;
        top: 40px;
        padding: 2rem;
        width: max-content;
        height: max-content;
        border-radius: 0 0 0 14px;
        border-left: 1px solid rgba(var(--fontcolor),0.1);
        border-bottom: 1px solid rgba(var(--fontcolor),0.1);
        color: rgb(var(--basecolor));
        background-color: rgb(var(--basecolor));
        /* background-color: red; */
    }
    .MenuButton{
        width: 100%;
        border-radius: 7px;
        padding: 1rem;
        border-radius: 14px;
        background-color: rgba(var(--fontcolor),0.1);
        margin: 0.7rem;
    }
    .MenuButton:last-of-type,
    .SignInButton{
        width: 100%;
    }
}