:root {
  --basecolor: 43,44,56; /*#2F303A*/
  --fontcolor: 255,255,255;
  --fastrans: 300ms;
  --medtrans: 700ms;
  --slotrans: 2100ms;
}
main{
  background-color: rgb(var(--basecolor));
  color: rgb(var(--fontcolor));
  overflow: hidden;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
	width: 100%;
	margin: 0px auto auto auto;
	background-repeat: no-repeat;
	background-size:cover;
}
html,
body {
  color: rgb(var(--fontcolor));
  background-color: rgb(var(--basecolor));
	margin: 0px auto;
  width: clamp(320px, 100vw, 100vw);
  min-height: 568px;
  overflow-x: hidden;
  font-family: monospace;
  font-size: clamp(9px, 1.4vw, 21px);
}
a {
  color: inherit;
  text-decoration: none;
}
p{
  letter-spacing: normal;
  letter-spacing: 0.1px;
  line-height:normal;
  font-size: 18px;
}
h3{
  font-size: 25px;
}
ul{
  font-size: 16px;
}