#MainLinksMenu{
    width: 100%;
    height: 100%;
    position: relative;
    margin: auto;
    display: grid;
    background-image: url('../public/Images/AppyyoCrop.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-position-y: 0rem;
    grid-template-columns: minmax(0px,1fr) minmax(0px,2rem) 1fr minmax(0px,2rem) minmax(0px,1fr);
    grid-template-rows: max-content repeat(4,calc((100vh - 140px - 6rem)/4));
    grid-template-areas: 
        "InnovLab InnovLab InnovLab InnovLab InnovLab"
        "NewProj Logo Logo Logo ProfServ"
        "NewProj Logo Logo Logo ProfServ"
        "AboutUs Logo Logo Logo DigTrans"
        "AboutUs Logo Logo Logo DigTrans"
    ;
}
#InnovationLab{
    grid-area: InnovLab;
    height: 100%;
    text-align: center;
    align-self: baseline;
    z-index: 1;
}
#AboutUs,
#NewestProject{
    width: 100%;
    height: 100%;
    text-align: right;
    z-index: 1;
}
#NewestProject{
    grid-area: NewProj;
}
#AboutUs{
    grid-area: AboutUs;
}
#AbUsImg{
    display: none;
    grid-area: Logo;
}
#DigitalTransformation,
#ProfessionalServices{
    width: 100%;
    height: 100%;
    text-align: left;
    z-index: 1;
}
#ProfessionalServices{
    grid-area: ProfServ;
}
#DigitalTransformation{
    grid-area: DigTrans;
}
#DigitalTransformation > span,
#ProfessionalServices > span,
#AboutUs > span,
#NewestProject > span{
    display: flex;
    width: 100%;
    height: 25%;
    align-items: center;
}
#AboutUs > span,
#NewestProject > span
{
    justify-content: right;    
}
#ProfessionalServices > span,
#DigitalTransformation > span
{
    justify-content: left;
}
.MainLink{
    line-height: 3.5rem;
}
.MainLink > span{
    color: rgb(var(--fontcolor));
    transition: var(--fastrans);
    padding: 7px;
    font-size: 2.1rem;
}
.MainLink > span:hover{
    text-shadow: 0px 0px 35px white;
}
#AbUsMainLink{
    display: none;
    position: relative;
    width: 100vw;
    height: 50vh;
}

@media screen and (max-width:770px) and (orientation: portrait) {
    #MainLinksMenu{
        background-image: none;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6,max-content);
        grid-template-areas:
        "Logo"
        "AboutUs"
        "NewProj"
        "InnovLab"
        "ProfServ"
        "DigTrans"
        ;
    }
    #AbUsMainLink{
        display: block;
    }
    #AbUsImg{
        position: fixed;
        width: 100%;
        height: 50%;
        display: block;
    }
    #InnovationLab{
        height: 100%;
    }
    #DigitalTransformation > span,
    #ProfessionalServices > span,
    #InnovationLab > span,
    #AboutUs > span,
    #NewestProject > span{
        height: 100%;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
}